---
---
@import "type-on-strap";

/* Description Header */

.description_header {
    font-weight: normal;
    font-size: normal;
}

/* change the font of the title */
@font-face {
  font-family: 'Tomorrow';
  src: url('../fonts/Tomorrow/Tomorrow-Regular.ttf') format('truetype');
}

.left-title {
  font-family: 'Tomorrow';
}

.emoji {
  padding: 0;
}
