$color-base-1: #f4f1de;
$color-base-2: #e07a5f;
$color-base-3: #3d405b;
$color-base-4: #81b29a;
$color-base-5: #f2cc8f;



.bg-color-1 {
  background-color: $color-base-1;
}
.bg-color-2 {
  background-color: $color-base-2;
}
.bg-color-3 {
  background-color: $color-base-3;
}
.bg-color-4 {
  background-color: $color-base-4;
}
.bg-color-5 {
  background-color: $color-base-5;
}

@font-face {
  font-family: 'Tomorrow';
  src: local('Tomorrow'), url(../../../static/fonts/Tomorrow/Tomorrow-Regular.ttf) format('truetype');
}

.blog-title {
  font-family: 'Tomorrow';
}

.my-vh-90 {
  height: 90vh;
}
