<header>
  {% if site.logo %}
    <a href="/">
      <img src="{{ site.logo | relative_url }}" alt="Logo" />
    </a>
  {% endif %}

  <p>By:
    <a class="author-name" href="{{ "/about/" | relative_url }}">
      Johan Suarez
    </a>
  </p>


  <div class="categories-list">
    <h2 class="categories-title">Categories</h2>
    <ul>
      <li><a href="{{ "/ideas" | absolute_url }} ">Ideas</a></li>
      <li><a href="{{ "/notes" | absolute_url }} ">Notes</a></li>
      <li><a href="{{ "/tutorials" | absolute_url }} ">Tutorials</a></li>
    </ul>
  </div>

</header>
